@font-face {
    font-family: IBM-PlexSans; src: url('../font/IBMPlexSans-Medium.ttf');
}

*{
  margin: 0px;
  padding: 0px;
}

body{
    font-family: "IBM-PlexSans";
  }

.container {
  height: 50px;
  position: relative;
}


.anadirAula{
  margin-top:50px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
pre {
  color: white;
  background: gray;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:#343a40;
    color: white;
    text-align: center;
    padding: 5px;
}
footer a{
    font-size: x-large;
}

nav {
  top: 0px;
}

/*
body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/login_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;

}
*/
.contact-form{
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
}

.avatar{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-30px/2);
    left: calc(50% - 30px);
}

.contact-form h2{
    margin: 0;
    padding: 0 0 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
}

.contact-form input{
    width: 100%;
    margin-bottom: 15px;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=password], .contact-form input[type=date]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 35px;
    color: white;
    font-size: 15px;
}

.contact-form input[type=submit]{
    height: 30px;
    color: white;
    font-size: 15px;
    background: #343a40;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 15%;
}

.contact-form input[type=checkbox]{
    width: 20%;

}