@font-face {
    font-family: IBM-PlexSans; src: url('../font/IBMPlexSans-Medium.ttf');
}

*{
  margin: 0px;
  padding: 0px;
}

body{
    background-image: url("../img/login_background.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: "IBM-PlexSans";
  }

.container {
  height: 50px;
  position: relative;
}

.anadirAula{
  margin-top:50px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
pre {
  color: white;
  background: gray;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:#343a40;
    color: white;
    text-align: center;
    padding: 5px;
}
footer icon{
    font-size: x-large;
}

nav {
  top: 0px;
}
