@font-face {
    font-family: IBM-PlexSans; src: url('../font/IBMPlexSans-Medium.ttf');
}

::placeholder {
    color: lightgrey;
}

*{
  margin: 0px;
  padding: 0px;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    font-family: "IBM-PlexSans";
    min-height: 100%;
    background: url("../img/login_background.jpg") no-repeat center center;
}

body{
    margin-bottom: 60px;
    background: transparent;
  }

.container {
  height: 50px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
pre {
  color: white;
  background: gray;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color:#343a40;
    color: white;
    text-align: center;
    padding: 5px;
}
footer a{
    font-size: x-large;
}

nav {
  top: 0px;
}



.baseStyleForm{
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
}

.baseStyleForm h2{
    margin: 0;
    padding: 0 0 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.baseStyleForm p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
}

.baseStyleForm input{
    width: 100%;
    margin-bottom: 15px;
}

.baseStyleForm input[type=text], .baseStyleForm input[type=email], .baseStyleForm input[type=password], .baseStyleForm input[type=date]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 35px;
    color: white;
    font-size: 15px;
}

.baseStyleForm select{
    border: none;
    background: transparent;
    outline: none;
    height: 35px;
    color: white;
    font-size: 15px;
    position: relative;
    display: block;
    margin : 0 auto;
    width: 350px;
    font-family: 'Font Awesome\ 5 Free', 'IBM-PlexSans';
    font-style: normal;
    font-weight: 900;
}

.baseStyleForm select:focus {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.baseStyleForm input[type=submit]{
    height: 30px;
    color: white;
    font-size: 15px;
    background: #343a40;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 5%;
}

.register-form{
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    top: 50%;
    left: 25%;
}

.registerAula{
    width: 500px;
    height: 430px;
    top: 50%;
    left: 50%;
    padding: 40px;
}

.reserveAula{
    width: 500px;
    height: 350px;
    top: 50%;
    left: 50%;
    padding: 60px;
}

.registerAula input[type="checkbox"]
{
    margin-top: 30%;
    margin-left: 50%;
}

.avatar{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-30px/2);
    left: calc(50% - 30px);
}



